<div id="shopify-section-container_title" class="shopify-section">
    <div class="container-title">
        {% include 'shop_title' %}
    </div>
</div>
{% schema %}
{
    "name": "Site title",
    "class": "title_section",
    "settings": [
        {
            "type": "text",
            "id": "text",
            "label": "enter your site name"
        }
    ]
}
{% endschema %}